//
// Contact Menu
//

.contact-menu {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin: 0 -5px;

  li {
    margin: 0 5px;
  }
  a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }
  a:hover {
    color: #fff;
  }
  img {
    max-height: 20px;
  }
}
