<ul class="contact-menu">
    <li>
        <a href="http://twitter.com/doesnothing" title="Twitter" target="_blank">
            <i class="icon-twitter"></i>
        </a>
    </li>
    <li>
        <a href="http://facebook.com/doesnothing" title="Facebook" target="_blank">
            <i class="icon-facebook"></i>
        </a>
    </li>
    <li>
        <a href="http://instagram.com/doesnothing" title="Instagram" target="_blank">
            <i class="icon-instagram"></i>
        </a>
    </li>
    <li>
        <a href="http://github.com/doesnothing" title="GitHub" target="_blank">
            <i class="icon-github"></i>
        </a>
    </li>
</ul>
